
<hr>

<% @jobs.each do |job| %>
    <div class="row">
     <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
      <div class="job-title">
      <%= link_to job.title, job_path(job) %>
      </div>
        <div class="job-body">
         <%= truncate(job.description, length: 20) %>
      </div>
      
       <div class="job-actions">
         <%= link_to 'Quick Apply', about_path, class:"btn btn-xs btn-warning" %>

         <% if current_user && current_user.admin %>
         
         <%= link_to "Edit", edit_job_path(job), class: "btn btn-xs btn-info" %>
         <%= link_to "Delete", job_path(job), method: :delete,data: { confirm: "Are you sure you want to delete this job post?"},
        class: "btn btn-xs btn-danger" %>
        
        <% end %>
    </div>   
  </div>
 </div>
</div>
<% end %>
