

  <h2 align="center"><%= @job.title %></h2>
  <div class="well col-xs-8 col-xs-offset-2">
   <h4 align="center" class="description"><strong>Job Requirements</strong></h4>
    <hr>
    <%= simple_format(@job.description) %>
    <div class="job-actions">
     
         <%= link_to 'Apply for this position', about_path, class:"btn btn-xs btn-primary" %> |
         <%= link_to 'Back to Jobs', jobs_path , class:"btn btn-xs btn-success" %>
       
    </div>
</div>
<!--<p title="Apply for this position">-->
<!--  <%= link_to 'Apply', jobs_path %>-->
<!--</p>-->
