

<h1><%= @job.title %> job description</h1>

<p>
    Title: <%= @job.title %>
</p>

<p>
    Description: <%= @job.description %>
</p>

<!--<p title="Apply for this position">-->
<!--  <%= link_to 'Apply', jobs_path %>-->
<!--</p>-->

<p>
  <%= link_to 'Apply for this position', edit_job_path(@job) %> |
  <%= link_to 'Back to Jobs', jobs_path %>  
</p>
